<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style-about.css">
    <title>About</title>
</head>
<body>
    

    <h1> Who is this woman?</h1>
    
    <div class="about-her">
    <p>Patricia Lee Smith, born December 30, 1946 is an American singer, songwriter, poet, painter, and author who became an influential component of the New York City punk rock movement with her 1975 debut album Horses.</p>
    </div>

    <div class="vertical-text">
    <p>Punk Poet</p>
   </div>

</body>
</html>