<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patti Smith</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <h1 class="main-title">This is:<span>Patti Smith</span></h1>
    <section>
      <div class="main-section">
        <div class="about">
          <img
            class="about-img"
            alt="Patti Smith Image"
            src="/patti_smith1.jpg"
          />
          <a href="/about"><p>ABOUT</p></a>
        </div>

        <div class="music-works">
          <img
            class="music-img"
            alt="Patti Smith Image"
            src="/patti_smith_group"
          />
          <a href="/music"><p>SHE MAKES MUSIC</p></a>
        </div>

        <div class="poems">
          <img
            class="poems-img"
            alt="Patti Smith Image"
            src="/just_kids.jpeg"
          />
          <a href="/books"><p>SHE IS A POET</p></a>
        </div>
      </div>
    </section>
    <section>
      <div class="listen-section">
        
        <img class="record-img" src="/horseslp.jpeg"/>
        <a href="https://www.youtube.com/watch?v=-kuyNvpWSsA"> PLAY </a>
        </div>
    </section>
  </body>
</html>
