<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-music.css">
    <title>She makes music</title>
</head>
<body>
    <h1 class="main-title">Most <span>Important</span> albums</h1>
    <section>
      <div class="main-section">
        <div class="horses">
          <img
            class="horses-img"
            alt="Horses album cover"
            src="/patti_smith_horses.jpg"
          />
          <a href="https://www.discogs.com/master/40109-Patti-Smith-Horses"><p>HORSES</p></a>
        </div>

        <div class="banga">
          <img
            class="banga-img"
            alt="Banga album cover"
            src="/patti_smith_banga.jpg"
          />
          <a href="https://www.discogs.com/master/443906-Patti-Smith-Banga"><p>BANGA</p></a>
        </div>

        <div class="easter">
          <img
            class="easter-img"
            alt="Easter album cover"
            src="/easter.jpg"
          />
          <a href="https://www.discogs.com/master/40121-Patti-Smith-Group-Easter"><p>EASTER</p></a>
        </div>
      </div>
    </section>
    <section>
       <div class="back-home">
        
        <img class="home-img" src="/home.jpeg"/>
        <a href="/views/index.html"> BACK HOME </a>
        </div>
    </section> 
    
</body>
</html>